<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>TODO App</span>
    </mat-toolbar>

    <div class="item-container">
      <div class="create-item">
        <mat-form-field appearance="fill" class="create-item-field">
          <mat-label>Input</mat-label>
          <input matInput [(ngModel)]="createItemTitle">
        </mat-form-field>
        <button mat-flat-button color="primary">Add</button>
      </div>

      <mat-card class="item" *ngFor="let todoItem of todoItems">
        <mat-checkbox>
          {{ todoItem.title }}
        </mat-checkbox>
        <button class="delete-button" mat-raised-button color="warn">Delete</button>
      </mat-card>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
